:host {
  border: 1px solid grey;
  border-radius: 6px;
  height: 32px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (min-width: 601px) {
    width: 500px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.progress-bar-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  @media (min-width: 601px) {
    width: 85%;
  }

  @media (max-width: 600px) {
    width: 75%;
  }
}

.progress-bar {
  height: 32px;
  background-color: grey;
  border-radius: 6px;
  transition: 150ms;
}
